@tailwind base;
@tailwind components;
@tailwind utilities;

.borderonhover:hover {
    @apply border-8
  }

  
.link-icon {
  @apply w-6 h-6 mx-5;
  transition: 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.link-icon:hover {
  @apply w-8 h-8;
  cursor: pointer;
  filter:hue-rotate(-30deg)
}

p {
  margin-left: 20px;
}

img {
  margin-left: 20px;
}